<!doctype html>
<style>
form {
    margin: auto;
    width: 60%;
}

.result {
    margin: auto;
    width: 60%;
    border: 1px solid #ccc;
}
</style>

<head>
    <title>Heart Disease</title>
</head>
<script>
    function getRandomValues() {
        document.getElementById('oldpeak').value = (Math.random() * (1.000000 - 0.000000) + 0.000000).toFixed(6);
        document.getElementById('thalach').value = (Math.random() * (0.923664 - 0.000000) + 0.000000).toFixed(6);
        document.getElementById('age').value = (Math.random() * (0.875000 - 0.180040) + 0.180040).toFixed(6);
        document.getElementById('trestbps').value = (Math.random() * (1.000000 - 0.075472) + 0.075472).toFixed(6);
        document.getElementById('chol').value = (Math.random() * (0.798762 - 0.000000) + 0.000000).toFixed(6);
        document.getElementById('thal').value = (Math.random() * (7 - 0) + 0).toFixed(0);
        document.getElementById('cp').value = (Math.random() * (4 - 0) + 0).toFixed(0);
        document.getElementById('ca').value = (Math.random() * (3 - 0) + 0).toFixed(0);
        document.getElementById('exang').value = (Math.random() * (1 - 0) + 0).toFixed(0);
        document.getElementById('slope').value = (Math.random() * (3 - 0) + 0).toFixed(0);
    }
</script>
<form action="{{ url_for('main') }}" method="POST">
    <fieldset>
        <legend>Heart Disease Features:</legend>
        oldpeak:
        <input id="oldpeak" name="oldpeak" type="number"  step="0.000001" required>
        ST depression induced by exercise relative to rest ('ST' relates to * positions on the ECG plot. See more here)
        <br>
        <br>
        thalach:
        <input id="thalach" name="thalach" type="number"  step="0.000001" required>
        The person's maximum heart rate achieved
        <br>
        <br>
        age:
        <input id="age" name="age" type="number"  step="0.000001" required>
        The person's age in years
        <br>
        <br>
        trestbps:
        <input id="trestbps" name="trestbps" type="number"  step="0.000001" required>
        The person's resting blood pressure (mm Hg on admission to the hospital)
        <br>
        <br>
        chol:
        <input id="chol" name="chol" type="number"  step="0.000001" required>
        The person's cholesterol measurement in mg/dl
        <br>
        <br>
        thal:
        <select id="thal" name="thal">
            <option value="0">No Data</option>
            <option value="3">Normal</option>
            <option value="6">Fixed Defect</option>
            <option value="7">Reversable Defect</option>
        </select>
        A blood disorder called thalassemia
        <br>
        <br>
        cp:
        <select id="cp" name="cp">
            <option value="0">No Data</option>
            <option value="1">Typical Angina</option>
            <option value="2">Atypical Angina</option>
            <option value="3">Non-Anginal Pain</option>
            <option value="4">Asymptomatic</option>
        </select>
        The chest pain experienced
        <br>
        <br>
        ca:
        <input id="ca" name="ca" type="number"  step="1" required>
        The number of major vessels (0-3)
        <br>
        <br>
        exang:
        <select id="exang" name="exang">
            <option value="0">No</option>
            <option value="1">Yes</option>
        </select>
        Exercise induced angina (1 = yes; 0 = no)
        <br>
        <br>
        slope:
        <select id="slope" name="slope">
            <option value="0">No Data</option>
            <option value="1">Upsloping</option>
            <option value="2">Flat</option>
            <option value="3">Downsloping</option>
        </select>
        the slope of the peak exercise ST segment (Value 1: upsloping, Value 2: flat, Value 3: downsloping)
        <br>
        <br>
        <input type="submit" name="Send" value="Send">
        <br>
        Generate random values:
        <button type="button" onclick="getRandomValues()">Generate random values</button>
    </fieldset>
</form>


<div class="result" align="center">
<!--    {% if result %}-->
        <br> <p style="font-size:50px">Result:</p>
        <p style="font-size:50px">{{ result }}</p>
<!--    {% endif %}-->
</div>