<!doctype html>
<style>
form {
    margin: auto;
    width: 60%;
}

.result {
    margin: auto;
    width: 60%;
    border: 1px solid #ccc;
}
</style>

<head>
    <title>Heart Disease</title>
</head>
<form action="{{ url_for('main') }}" method="POST">
    <fieldset>
        <legend>Heart Disease Features:</legend>
        oldpeak:
        <input name="oldpeak" type="number"  step="0.000001" required>
        ST depression induced by exercise relative to rest ('ST' relates to * positions on the ECG plot. See more here)
        <br>
        thalach:
        <input name="thalach" type="number"  step="0.000001" required>
        The person's maximum heart rate achieved
        <br>
        age:
        <input name="age" type="number"  step="1" required>
        The person's age in years
        <br>
        trestbps:
        <input name="trestbps" type="number"  step="0.000001" required>
        The person's resting blood pressure (mm Hg on admission to the hospital)
        <br>
        chol:
        <input name="chol" type="number"  step="0.000001" required>
        The person's cholesterol measurement in mg/dl
        <br>
        thal:
        <select name="thal">
            <option value="0">No Data</option>
            <option value="3">Normal</option>
            <option value="6">Fixed Defect</option>
            <option value="7">Reversable Defect</option>
        </select>
        A blood disorder called thalassemia
        <br>
        cp:
        <select name="cp">
            <option value="0">No Data</option>
            <option value="1">Typical Angina</option>
            <option value="2">Atypical Angina</option>
            <option value="3">Non-Anginal Pain</option>
            <option value="4">Asymptomatic</option>
        </select>
        The chest pain experienced
        <br>
        ca:
        <input name="ca" type="number"  step="1" required>
        The number of major vessels (0-3)
        <br>
        exang:
        <select name="exang">
            <option value="0">No</option>
            <option value="1">Yes</option>
        </select>
        Exercise induced angina (1 = yes; 0 = no)
        <br>
        slope:
        <select name="slope">
            <option value="0">No Data</option>
            <option value="1">Upsloping</option>
            <option value="2">Flat</option>
            <option value="3">Downsloping</option>
        </select>
        the slope of the peak exercise ST segment (Value 1: upsloping, Value 2: flat, Value 3: downsloping)
        <br>
        <br>
        <input type="submit" name="Send"  value="Send">
        <br>
        Generate random values:
        <input type="submit" name="Generate" value="Generate" formnovalidate>
    </fieldset>
</form>


<div class="result" align="center">
    {% if result %}
        <br> <p style="font-size:50px">Estimated price:</p>
        <p style="font-size:50px">{{ result }}</p>
    {% endif %}
</div>